# To send someone the example of how .env file is written in which structure.

NAME="MERN Stack E-commerce API"
PORT="5000"
VERSION=""


MONGODB_URL="mongodb://localhost:27017/<dbname>" # here will be the url of mongodb 
JWT_SECRET=
STRIPE_SECRET_KEY=